.App {
  text-align: center;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App button {
  border: 1.34px solid purple;
  font-size: 1.7em;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
}

.btnWrapper {
  width: 200px;
  height: 50px;
  display: flex;
  border-radius: 15px;
  transition: .3s ease-in-out;
  justify-content: center;
  position: relative;
}



.btnWrapper::before {
  background-color: rgba(128, 0, 128, 0.603);
  width: 0px;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  transition: .3s ease-in-out;
  content: '';
}

.btnWrapper:hover button {
  color: white;
}

.btnWrapper:hover::before{
  width: 100%;
  filter: brightness(1.1);
}

.btnWrapper:hover {
  filter: brightness(1.1);
  box-shadow: 0px 0px 40px rgba(128, 0, 128, 0.696);
}